{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block headline %}HCTS Team Machine Board--<small>LOGIN PAGE</small>{% endblock %}


{% block content %}
  <form action="" method="post">
  {% csrf_token %}
    <label for="username">UserName:</label>
    <input type="text" name="username" value="" id="username" />
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password" />

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{% url 'machines:index' %}" />
  </form>
{% endblock %}
